flows.json
[{"id":"60d7af18.d7905","type":"tab","label":"Person count flow","disabled":false,"info":""},{"id":"debfaea5.707e8","type":"inject","z":"60d7af18.d7905","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":140,"wires":[["d5fbcea5.a31d2"]]},{"id":"59f8afcf.c7ea3","type":"Kafka Consumer","z":"60d7af18.d7905","name":"","broker":"545f02bd.3098bc","topics":[{"topic":"test","offset":0,"partition":0}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","x":120,"y":220,"wires":[["3fa7eee1.943f62"]]},{"id":"d5fbcea5.a31d2","type":"Kafka Producer","z":"60d7af18.d7905","name":"","broker":"545f02bd.3098bc","topic":"test","requireAcks":1,"ackTimeoutMs":100,"partitionerType":0,"key":"","partition":0,"attributes":0,"connectionType":"Producer","x":350,"y":140,"wires":[]},{"id":"9a35f42c.d370e8","type":"debug","z":"60d7af18.d7905","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":80,"wires":[]},{"id":"3fa7eee1.943f62","type":"split","z":"60d7af18.d7905","name":"","splt":"\"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":310,"y":220,"wires":[["f1180346.508e6"]]},{"id":"6d9f1790.ad2018","type":"ui_chart","z":"60d7af18.d7905","name":"","group":"1015d8d7.662187","order":3,"width":"6","height":"6","label":"People count","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":240,"wires":[[]]},{"id":"f1180346.508e6","type":"join","z":"60d7af18.d7905","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":450,"y":220,"wires":[["9fc5fc06.e5875","9a35f42c.d370e8"]]},{"id":"9fc5fc06.e5875","type":"function","z":"60d7af18.d7905","name":"object","func":"a = msg.payload\nvar msgnew = {payload: a[124]}\nreturn msgnew;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":220,"wires":[["be75434f.749a4"]]},{"id":"5f364064.77da9","type":"switch","z":"60d7af18.d7905","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":380,"wires":[["f78fc4ce.e75a18"]]},{"id":"cfd6b81e.7af168","type":"e-mail","z":"60d7af18.d7905","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"xx@gmail.com","dname":"","x":1080,"y":380,"wires":[]},{"id":"f78fc4ce.e75a18","type":"function","z":"60d7af18.d7905","name":"メール作成","func":"msg.topic = '人数カウント'\nmsg.payload = '現在の人数は'+ msg.payload + '人です。'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":380,"wires":[["cfd6b81e.7af168"]]},{"id":"5e4bb8cc.c76458","type":"ui_gauge","z":"60d7af18.d7905","name":"","group":"1015d8d7.662187","order":2,"width":"0","height":"0","gtype":"gage","title":"Gauge","label":"人","format":"{{msg.payload}}","min":0,"max":"5.0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1.0","seg2":"2.0","x":770,"y":180,"wires":[]},{"id":"be75434f.749a4","type":"split","z":"60d7af18.d7905","name":"","splt":":","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":310,"y":300,"wires":[["799ca7aa.fa87a8"]]},{"id":"799ca7aa.fa87a8","type":"join","z":"60d7af18.d7905","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":450,"y":300,"wires":[["30acc5ef.59d8fa"]]},{"id":"30acc5ef.59d8fa","type":"function","z":"60d7af18.d7905","name":"object","func":"a = msg.payload\nvar msgnew = {payload: a[1]}\nreturn msgnew;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":300,"wires":[["6657a9f.a413158"]]},{"id":"6657a9f.a413158","type":"split","z":"60d7af18.d7905","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":310,"y":380,"wires":[["6f7930b3.f1b01"]]},{"id":"6f7930b3.f1b01","type":"join","z":"60d7af18.d7905","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":450,"y":380,"wires":[["4f5c5e4d.30e58"]]},{"id":"4f5c5e4d.30e58","type":"function","z":"60d7af18.d7905","name":"object","func":"a = msg.payload\nvar msgnew = {payload: a[0]}\nreturn msgnew;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":380,"wires":[["5f364064.77da9","6d9f1790.ad2018","5e4bb8cc.c76458"]]},{"id":"545f02bd.3098bc","type":"Kafka Broker","z":"","name":"local kafka server","hosts":[{"host":"127.0.0.1","port":9092}],"hostsEnvVar":"","connectTimeout":"10000","requestTimeout":"30000","autoConnect":"true","idleConnection":"5","reconnectOnIdle":"true","maxAsyncRequests":"10","checkInterval":"10","selfSign":true,"usetls":false},{"id":"1015d8d7.662187","type":"ui_group","z":"","name":"People","tab":"b5c9b1e3.50c9a","order":1,"disp":false,"width":"6","collapse":false},{"id":"b5c9b1e3.50c9a","type":"ui_tab","z":"","name":"Congestion detection","icon":"dashboard","disabled":false,"hidden":false}]